.header{
    background-color: white;
   
}

.body{
    background-color: black;
}

.div-head{
    display: flex;
    gap: 75rem;
}

.h1-main{
    justify-content: center;
    padding-left: 40rem;
    margin-top: 0.1rem;
    color:white;
    font-size: 4rem;
}



.div-1 {
    background-image: url(netflix.jpg);
    background-size: cover;
    height: 460px;
    
}
.image{
    height: 40px;
    margin-left: 2rem;
    margin-top:1rem;
}

.p{
    color: white;
    margin-left: 40rem;
    font-size: 25px;
   justify-content: center;
}

.form{
    background-color: black;
}

.button{
    font-size: 20px;
    color:white;
    background-color: red;
    margin-left:45rem;
}
.form{
    margin-left: 20rem;
    font-size: 1.5rem;

}

.div-email{
    gap: 1rem;
}

.tv > h1{
    color: white;
    margin-left: 27rem;
    font-size: 4rem;
    gap: 3rem;
}



.tv > p {
    color: white;
    font-size: 35px;
    margin-left:27rem ;
}



    

